EMB_BASE_URL=<Your URL for your Embedding-model here>

EMB_MODEL="<Embedding-model name>"

PHOENIX_COLLECTOR_ENDPOINT=<address for the arize Phoenix endpoint>
PHOENIX_API_KEY=<API-Key for the arize Phoenix endpoint>

OPENAI_API_KEY = <API-Key for the Model hosting service>

BASE_URL=<URL for the language model>

MODEL = "<model name>"

PROJECT_DIR ="<directory of the src dir>"

SECRET_KEY = "<Key for the Password-management>"
ALGORITHM = "<Algorithm for the password management>"
ACCESS_TOKEN_EXPIRE_MINUTES = <Time for a session token to expire>

VECTOR_STORE_NAME = "<Name of the qdrant vector-store>"